.TodoSearch{
    position: relative;
    left: 600px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}


@media screen and (max-width: 400px) {
    .TodoSearch{
        margin-top: 10px;
        width: 225px;
        left: 70px;
    }
}